html
    header
        title #{question.title}
        h1 #{question.title}
        p De #{question.user.firstname}
    body
        p #{question.content}
        if user
            if user.role == "admin" || user.id == question.user.id
               a(href="/api/deleteQues/" + question.id) X
               a(href="/editQues/" + question.id) Editer Question

            p Commentaires :
                for comment in question.comments
                    article
                        p De #{comment.user.firstname}
                        p #{comment.content}
                        if user.role == "admin" || user.id == comment.user.id
                            a(href="/api/deleteCom/" + comment.id +"/"+ question.id) X
                            a(href="/editCom/" + comment.id ) Editer Commentaire


                form(method="POST")
                    textarea(name="comment", placeholder="Commentaire", rows=7, cols=50)
                    br
                    button(type="submit") Commenter
        else
            p Veuilliez vous connecter pour poster et lire les commentaires

        a(href="/") Retour Menu