html
    header
        title #{question.title}
        h1
            a.title(href="/") StackOverflow version cheap
        if user
            a(href="") #{user.firstname}
            a(href="/api/logout") Deconnexion
            if user.role == "admin"
                a(href="/users") Gestion user
        else
            a(href="/login") Connexion
            a(href="/signup") Inscription
        link(rel="stylesheet", href="/css/style.css")
        link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet")
    body
        div.content
            p.title #{question.title}
            div.namedate
                div
                    p @ #{question.user.firstname}
                div
                    p #{question.createdAt}
            p #{question.content}
            div.postmanager
            if question.resolved == "Resolved"
                p.resolvedPost #{question.resolved}
            else
                p.unresolvedPost #{question.resolved}
            if user
                if user.role == "admin" || user.id == question.user.id
                        div
                            a(href="/api/deleteQues/" + question.id) Supprimer la question
                        div
                            a(href="/editQues/" + question.id) Editer la question
                        div
                            a(href="/api/resolved/" + question.id) Résoudre la question

            p.rep Réponses

        if user
            div.comment
                for comment in question.comments
                    article
                        p.commentuser @ #{comment.user.firstname}
                        p #{comment.content}

                        if user.role == "admin" || user.id == comment.user.id
                            div.commentmanager
                                div
                                    a(href="/api/deleteCom/" + comment.id + "/" + question.id) Supprimer
                                div
                                    a(href="/editCom/" + comment.id ) Editer

                form(method="POST")
                    textarea(name="comment", placeholder="Commentaire", rows=7, cols=50)
                    br
                    button(type="submit") Commenter
        else
                a.addquestion.connectpls(href="/login") Veuilliez vous connecter pour poster et lire les commentaires.