html
    header
        title Questions list
        link(rel="stylesheet", href="/css/style.css")
        link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet")
        h1
            a.title(href="/") StackOverflow version cheap
        if user
            a(href="") #{user.firstname}
            a(href="/api/logout") Deconnexion
            if user.role == "admin"
                a(href="/users") Gestion user
        else
           a(href="/login") Connexion
           a(href="/signup") Inscription

    body
        div.questionmenu
            if user
                a.addquestion(href="/addquestion") Poser une question
            else
                a.addquestion(href="/login") Veuillez vous connecter pour poster une question.

            div.lastquestions
                div.firstcard
                    img(src="images/ville1.png")
                    p Premiere question
                div.secondcard
                    img(src="images/ville2.png")
                    p Deuxième question

            div.listtitle
                p All questions
            div.listtop
                div
                   p Titre
                div
                   p Date
                div
                   p Status
            ul
                for question in questions
                    li
                        div
                            a.question(href="/detail/" + question.id) #{question.title}
                            p.name @ #{question.user.firstname}
                        div
                            p.date #{question.jolieDate}
                        if question.resolved == "Resolved"
                            div.resolved
                                p #{question.resolved}
                        else
                             div.unresolved
                                 p #{question.resolved}


