html
    if user
        if user.role == "admin"
            header
                link(rel="stylesheet", href="/css/style.css")
                link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet")
                h1
                  a.title(href="/") StackOverflow version cheap
                a(href="/profil") #{user.firstname}
                a(href="/profil") Mon profil
                a(href="/api/logout") Deconnexion
            body
                h2 Gestion des Utilisateurs
                div.user
                    ul
                        for user in users
                            li
                                form(methode="GET" action="/users/" + user.id)

                                        div
                                            p Prénom
                                            p #{user.firstname}
                                        div
                                            p Nom
                                            p #{user.lastname}
                                        div.emailwitdh
                                            p E-Mail
                                            p #{user.email}
                                        div.rolewitdh
                                            p Role
                                            p #{user.role}
                                        div.select
                                            select(name="selectedRole")
                                                option(value=user.role) #{user.role}
                                                option(value="admin") Admin
                                                option(value="user") User
                                        div
                                            button(type="submit") Modifier user

        else
            header
                title Admin pannel
                h1
                    a.title(href="/") Revenir au menu
                link(rel="stylesheet", href="/css/style.css")
                link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet")
            body
                p Permission denied
    else
        header
            title Admin pannel
            h1
                a.title(href="/") Revenir au menu
            link(rel="stylesheet", href="/css/style.css")
            link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet")
        body
            p Permission denied
